<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Framework Based On Webpack And typescript</title>
    <style>
      .wrap {
        height: 400px;
        background-color: grey;
      }
      .left {
        float: left;
        height: 100%;
        width: 200px;
        background-color: red;
      }
      .main {
        background-color: green;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <div>
        <p>页面名称：<span id="pageName"></span></p>
      </div>

      <div class="wrap">
        <div class="left"></div>
        <div class="main"></div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
